<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>
<body class="container">
    <h1>All Events</h1>
    <header th:replace="fragment :: navigation"></header>
    <p th:unless="${events} and ${events.size()}">No event!</p>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Picture</th>
        </tr>
        <tr th:each="key: ${events.keySet()}">
            <td th:text="${key}"></td>
            <td th:text="${events.get(key)}"></td>
            <th:block th:replace="fragment :: address-picture">ap</th:block>
        </tr>
    </table>
</body>
</html>